body {
	font-family: "Lucida Console", Monaco, monospace;
	background-color: #dddddd;
	color: #2222bb;
	margin: 0;
}

div.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(0, 0, 0, 0.7);
}

div.popup div.container {
	position: fixed;
	top: 15vh;
	left: 20vw;
	width: 60vw;
	margin: 0;
	border-top: 30px solid #22b;
	height: 40vh;
	background: #bbb;

}

table {
	width: 100%;
	border-collapse: collapse;
}

.right {
	float:right;
}

.left {
	float:left;
}

.container {
	padding: 2vw;
}

.listbox {
	background-color: #ccc;
	margin-bottom: 2vw;
}

.active {
	background-color: #1111bb;
}

.leftcontain {
	width: 50%;
	float: left;
}

.rightcontain {
	margin-left: 52%;
	padding-bottom: 1%;
}

div.title {
	padding-left: 5%;
	padding-right: 5%;
	font-size: 12px;
	background-color: #2222bb;
	color: #dddddd;
	width: 90%;
}

h2 {
	display: inline-block;
}

select {
	overflow-y: auto;
	text-align: center;
	border: 1px solid #22b;
	position: absolute;
	display: none;
	cursor: pointer;
}

option:hover {
	background-color: #22b;
	color: white;
}

input {
	background: transparent;
	color: #22b;
	font-size: 14px;
	margin: 8px 0;
	padding: 8px;
	border: none;
	border-bottom: 2px solid #22b;
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
}

input[type=button] {
	background-color: #22b;
	margin: 8px 0;
	color: white;
	border: none;
}

#warning {
	font-weight: bold;
	color: #ee2222;
}

#success {
	font-weight: bold;
	color: #22ee22;
}

/* the following is for the bar */
ul.bar {
	padding: 0;
	margin: 0;
	list-style-type: none;
	background-color: #2222bb;
	overflow: hidden;
}

ul.bar li a {
	color: #dddddd;
	float: left;
	display: inline-block;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 2.4vw;
}

ul.bar li a:hover {
	background-color: #1111bb;
	cursor: pointer;
}

/* the following are all specific to the login page */
div.login {
	border-top: 40px solid #22b;
	padding: 0 40px 30px 40px;
	background-color: #ccc;
	margin: 10% auto;
	max-width: 280px; 
}

div.login a {
	float: right;
	display: none;
}

.login input {
	width:100%;
}

/* the following are specific to calendar */
.calendar {
	text-align: center;
}

tr.calendar {
	background-color: #ccc;
}

tr.calendar th {
	text-align: center;
	font-weight: normal;
	font-size: 14px;;
	background-color: #ccc;
	padding: 1.5vw 0 1.5vw 0;
}

tr.days th{
	background-color: #bbb;
	font-weight: bold;
}

tr.calendar th.selected{
	border-radius: 3vw;
	padding: 0;
	margin: 0;
	background-color: #aaf;
}

tr.calendar th.today {
	font-weight: bold;
}

input.time {
	width: 90px;
}

#left_cal {
	float: left;
	padding: 1.1vw 0;
	cursor: pointer;
}

#right_cal {
	float: right;
	padding: 1.1vw 0;
	cursor: pointer;
}
