<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css">
	<script src="js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="ugly/login.min.js"></script>
</head>
<body class="login">
	<div id="auth_container" class="main login">
		<div id="warning">You must enter a username</div>
		<div id="success"></div>
		<input gettype="text" id="username" name="username" placeholder="Username" autofocus="autofocus">
		<input id="password" name="password" placeholder="Password" type="password">
		<input id="pass_conf" name="pass_conf" placeholder="Confirm password" style="display:none;" type="password">
		<input id="login" name="login" value="Login" onclick="log_in()" type="button">
		<br>
		<input id="create" name="create" value="Create Account" onclick="create_account()" type="button">
		<a href="." id="cancel">Cancel</a>
	</div>


</body>
