<head>
    <meta charset="utf-8">
    <title>Pennylane Home</title>
    <link rel="stylesheet" href="../css/styles.css">
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/home.js"></script>
</head>
<body>
	<script type="text/javascript" src="../js/meta.js"></script>
<ul class="bar topbar"><li><a href="../home" class="active">home</a></li><li class="right"><a id="logout">logout</a></li><li class="right"><a>billehhg</a></li></ul>	<div class="container">
		<div class="leftcontain calendar">
			<div class="title">
				<h2 id="left_cal">❮</h2>
				<h2 id="currentmonth">Jun<br> 2018</h2>
				<h2 id="right_cal">❯</h2>
			</div>
			<div id="calendar"><table><tbody><tr class="days calendar"><th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th></tr><tr class="calendar"><th>27</th><th>28</th><th>29</th><th>30</th><th>31</th><th>1</th><th>2</th></tr><tr class="calendar"><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th></tr><tr class="calendar"><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th></tr><tr class="calendar"><th>17</th><th>18</th><th>19</th><th class="today selected">20</th><th>21</th><th>22</th><th>23</th></tr><tr class="calendar"><th>24</th><th>25</th><th>26</th><th>27</th><th>28</th><th>29</th><th>30</th></tr></tbody></table></div>
		</div>
		<div id="selectedday" class="rightcontain listbox">
			<div class="title"><h2>Jun 20  2018</h2></div>
			<div class="container">
				<ul><li>No events to display</li></ul>
				<input id="addevent" value="+ Add Event" type="button">
			</div>
		</div>
		<div class="rightcontain listbox">
			<div class="title"><h2>Upcoming Events</h2></div>
			<div class="container">
				<ul id="upcoming">
					<li>No upcoming events</li>
				</ul>
			</div>
		</div>
	</div>


</body>
